#applications {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.allAppContainer {
  border: 1px solid black;
  display: flex;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
  text-align: center;
  width: 80%;
}

.appContainer {
  display: flex;
  height: 100%;
}

.appContainer img {
  height: 85%;
}

.innerAppContainer {
  height: 90%;
  border: 1px solid black;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}