#applications {
  display: flex;
  flex-direction: column;
}

.allAppContainer {
  border: 1px solid black;
  display: flex;
  height: 50vh;
  margin-left: 10%;
  margin-right: 10%;
  overflow: scroll;
}

.appContainer {
  height: 100%;
}

.appContainer img {
  height: 90%;
}
