.navMain {
  border: 1px solid blue;
  height: 50px;
  display: flex;
}

.navTab {
  border: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  min-height: 20px;
  height: 100%;
  width: 20%;
}

.techText {
  text-decoration: none;
}