html, body {
  height: 100%;
}
.homeMain {
  border: 1px solid red;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-size: 60px;
  text-align: center;
}

.statement {
  font-size: 40px;
  text-align: center;
}