input {
  display: block;
  width: 400px;
  height: 30px;
}

.contactForm {

}

.contactForm input {
  margin-bottom: 5px;
}

.contactForm textarea {
  height: 150px;
  width: 400px;
}

.contactInstructions {
  display: block;
}

.contactMain {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
