#project {
  display: flex;
  flex-direction: column;
}

.allProjectContainer {
  border: 1px solid black;
  display: flex;
  height: 50vh;
  margin-left: 10%;
  margin-right: 10%;
  overflow: scroll;
}

.projectContainer {
  height: 100%;
}

.projectContainer img {
  height: 90%;
}
