.tech {
  border: 1px solid orange;
  margin-bottom: 10px;
  height: 50px;
  min-width: 250px;
}

.techContainerMiddle {
  margin-right: 30px;
  border: 1px solid black;
}

.techContainerMiddle.last {
  margin-right: 0px;
}

.techContainerTop {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
